body{
    background-color: blueviolet;

}

*{
    box-sizing: border-box;

}


.container{
    
    margin: auto;
    width: 50%;
    padding: 16px;
    background-color: blue;
    box-shadow: 20px 20px 20px 0px darkcyan;
}


input[type='text'],
input[type='Password']{
width: 100%;
padding: 16px;
display: inline-block;
border: none;
background: whitesmoke;
}

.registerbtn{
    background-color: teal;
    color:white;
    border: none;
    padding: 16px;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

registerbtn:hover{
    opacity: 1;
}